---
apiVersion: batch/v1
kind: Job
metadata:
  name: create-iceberg-tables
spec:
  template:
    spec:
      containers:
        - name: create-iceberg-tables
          image: "oci.stackable.tech/sdp/trino-cli:{{ test_scenario['values']['trino-latest'] }}-stackable0.0.0-dev"
          command:
            - bash
            - -euo
            - pipefail
            - -c
            - |
              cat << 'EOF' | java -jar trino-cli-*-executable.jar --server https://trino-coordinator:8443 --insecure --user admin
              CREATE SCHEMA IF NOT EXISTS iceberg.s3 WITH (location = 's3a://demo/lakehouse/s3');
              CREATE TABLE IF NOT EXISTS iceberg.s3.greetings (hello varchar);
              CREATE SCHEMA IF NOT EXISTS iceberg.hdfs WITH (location = 'hdfs:/lakehouse/hdfs');
              CREATE TABLE IF NOT EXISTS iceberg.hdfs.greetings (hello varchar);
              EOF
      restartPolicy: OnFailure
