{%- set title="Stackable Operator for Apache NiFi" -%}
{%- set operator_name="nifi" -%}
{%- set operator_docs_slug="nifi" -%}
{%- set related_reading_links=[] -%}

{% filter trim %}
  {%- include "partials/borrowed/header.md.j2" -%}
{% endfilter %}

{% filter trim %}
  {%- include "partials/borrowed/links.md.j2" -%}
{% endfilter %}

{% filter trim %}
  {%- include "partials/main.md.j2" -%}
{% endfilter %}

{% filter trim %}
  {%- include "partials/borrowed/footer.md.j2" -%}
{% endfilter %}

{% filter trim %}
  {%- include "partials/borrowed/related_reading.md.j2" -%}
{% endfilter %}
