# tag::stackablectl-install-operators-output[]
[INFO ] Installing commons operator in version {{ versions.commons }}
[INFO ] Installing secret operator in version {{ versions.secret }}
[INFO ] Installing listener operator in version {{ versions.listener }}
[INFO ] Installing zookeeper operator in version {{ versions.zookeeper }}
[INFO ] Installing nifi operator in version {{ versions.nifi }}
# end::stackablectl-install-operators-output[]
