Installed commons={{ versions.commons }} operator
Installed secret={{ versions.secret }} operator
Installed listener={{ versions.listener }} operator
Installed zookeeper={{ versions.zookeeper }} operator
Installed nifi={{ versions.nifi }} operator
