# tag::stackablectl-install-operators-output[]
Installing commons={{ versions.commons }} operator
Installing secret={{ versions.secret }} operator
Installing listener={{ versions.listener }} operator
Installing zookeeper={{ versions.zookeeper }} operator
Installing nifi={{ versions.nifi }} operator
# end::stackablectl-install-operators-output[]
