---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-sensitive-property-key
stringData:
  nifiSensitivePropsKey: mYsUp3rS3cr3tk3y
---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-oidc-client
stringData:
  clientId: nifi
  clientSecret: R1bxHUD569vHeQdw
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
spec:
  image:
{% if test_scenario['values']['nifi-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['nifi-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['nifi-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['nifi-latest'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    authentication:
      - authenticationClass: nifi-oidc-auth-class-$NAMESPACE
        oidc: 
          clientCredentialsSecret: nifi-oidc-client
    sensitiveProperties:
      keySecret: nifi-sensitive-property-key
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
    zookeeperConfigMapName: nifi-with-oidc-znode
    listenerClass: external-unstable
  nodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      gracefulShutdownTimeout: 1s # let the tests run faster
    roleGroups:
      default:
        config: {}
        replicas: 1
