---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: oidc-login-test-script
commands:
  - script: kubectl create configmap oidc-login-test-script --from-file login.py -n $NAMESPACE
---
apiVersion: batch/v1
kind: Job
metadata:
  name: oidc-login-test
spec:
  template:
    spec:
      containers:
        - name: oidc-login-test
          image: oci.stackable.tech/sdp/testing-tools:0.2.0-stackable0.0.0-dev
          command: ["python", "/tmp/test-script/login.py"]
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NIFI_VERSION
              value: "{{ test_scenario['values']['nifi'] }}"
            - name: OIDC_USE_TLS
              value: "{{ test_scenario['values']['oidc-use-tls'] }}"
          volumeMounts:
            - name: test-script
              mountPath: /tmp/test-script
      restartPolicy: OnFailure
      terminationGracePeriodSeconds: 1
      volumes:
        - name: test-script
          configMap:
            name: oidc-login-test-script
