---
apiVersion: authentication.stackable.tech/v1alpha1
kind: AuthenticationClass
metadata:
  name: simple-nifi-users
spec:
  provider:
    static:
      userCredentialsSecret:
        name: simple-nifi-admin-credentials
---
apiVersion: v1
kind: Secret
metadata:
  name: simple-nifi-admin-credentials
stringData:
  admin: >
    passwordWithSpecialCharacter\@<&>"'
---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-sensitive-property-key
stringData:
  nifiSensitivePropsKey: mYsUp3rS3cr3tk3y
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
spec:
  image:
{% if test_scenario['values']['nifi'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['nifi'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['nifi'].split(',')[0] }}"
{% else %}
    custom: null
    productVersion: "{{ test_scenario['values']['nifi'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    zookeeperConfigMapName: test-nifi-znode
    listenerClass: {{ test_scenario['values']['listener-class'] }}
    authentication:
      - authenticationClass: simple-nifi-users
    hostHeaderCheck:
      allowAll: false
    sensitiveProperties:
      keySecret: nifi-sensitive-property-key
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  nodes:
    config:
      listenerClass: test-external-stable-$NAMESPACE
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 2
      external-unstable:
        replicas: 1
        config:
          listenerClass: test-external-unstable-$NAMESPACE
      cluster-internal:
        replicas: 1
        config:
          listenerClass: test-cluster-internal-$NAMESPACE
