This is a Kubernetes operator to manage [Apache NiFi](https://nifi.apache.org/) clusters.

{% include "partials/borrowed/overview_blurb.md.j2" %}

## Installation and Getting Started

We have documentation on how to [install](https://docs.stackable.tech/home/stable/{{operator_name}}/getting_started/installation.html) this operator using our own CLI (stackablectl) or Helm.

Once installed, you can follow our [tutorial](https://docs.stackable.tech/home/stable/{{operator_name}}/getting_started/first_steps.html) on how to use it and to learn your first steps with our operator.

You can also see it in action in one of our [demos](https://stackable.tech/en/demos/).


{% include "partials/borrowed/documentation.md.j2" %}
