---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-admin-credentials-simple
stringData:
  username: admin
  password: supersecretpassword
---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-sensitive-property-key
stringData:
  nifiSensitivePropsKey: mYsUp3rS3cr3tk3y
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
spec:
  version: {{ test_scenario['values']['nifi'] }}
  zookeeperConfigMapName: test-nifi-znode
  authenticationConfig:
    method:
      SingleUser:
        adminCredentialsSecret:
          name: nifi-admin-credentials-simple
  sensitivePropertiesConfig:
    keySecret: nifi-sensitive-property-key
  nodes:
    config:
      resources:
        memory:
          limit: "2Gi"
        storage:
          flowfile_repo:
            capacity: 2Gi
          provenance_repo:
            capacity: 2Gi
          database_repo:
            capacity: 2Gi
          content_repo:
            capacity: 2Gi
          state_repo:
            capacity: 2Gi
    roleGroups:
      default:
        selector:
          matchLabels:
            kubernetes.io/os: linux
        config:
          log:
            rootLogLevel: INFO
        replicas: 1
