---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-admin-credentials-simple
stringData:
  username: admin
  password: supersecretpassword
---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-sensitive-property-key
stringData:
  nifiSensitivePropsKey: mYsUp3rS3cr3tk3y
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
spec:
  image:
    productVersion: "{{ test_scenario['values']['nifi'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['nifi'].split('-stackable')[1] }}"
  clusterConfig:
    authentication:
      method:
        singleUser:
          adminCredentialsSecret: nifi-admin-credentials-simple
    sensitiveProperties:
      keySecret: nifi-sensitive-property-key
    zookeeperConfigMapName: test-nifi-znode
  nodes:
    config:
      resources:
        memory:
          limit: "2Gi"
        storage:
          flowfile_repo:
            capacity: 2Gi
          provenance_repo:
            capacity: 2Gi
          database_repo:
            capacity: 2Gi
          content_repo:
            capacity: 2Gi
          state_repo:
            capacity: 2Gi
    roleGroups:
      default:
        config:
          log:
            rootLogLevel: INFO
        replicas: 1
