---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-sensitive-property-key
stringData:
  nifiSensitivePropsKey: mYsUp3rS3cr3tk3y
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
spec:
  image:
{% if test_scenario['values']['nifi'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['nifi'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['nifi'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['nifi'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    authentication:
      - authenticationClass: simple-nifi-users
    authorization:
      opa:
        configMapName: opa
        package: nifi
        cache:
          entryTimeToLive: 5s
          maxEntries: 10
    sensitiveProperties:
      keySecret: nifi-sensitive-property-key
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
    zookeeperConfigMapName: nifi-znode
    listenerClass: external-unstable
  nodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      gracefulShutdownTimeout: 1s # let the tests run faster
    roleGroups:
      default:
        config: {}
        replicas: 2
