---
apiVersion: authentication.stackable.tech/v1alpha1
kind: AuthenticationClass
metadata:
  name: nifi-users
spec:
  provider:
    static:
      userCredentialsSecret:
        name: nifi-user-credentials
---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-user-credentials
stringData:
  admin: admin
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
spec:
  image:
{% if test_scenario['values']['nifi'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['nifi'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['nifi'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['nifi'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    zookeeperConfigMapName: test-nifi-znode
    authentication:
      - authenticationClass: nifi-users
    sensitiveProperties:
      keySecret: nifi-sensitive-property-key
      autoGenerate: true
    customComponentsGitSync:
      - repo: https://github.com/stackabletech/nifi-operator
        branch: ef61c87311ad2f57484c33245c9ed50908a1c785
        gitFolder: tests/templates/kuttl/custom-components-git-sync/java-processors
      - repo: https://github.com/stackabletech/nifi-operator
        branch: ef61c87311ad2f57484c33245c9ed50908a1c785
        gitFolder: tests/templates/kuttl/custom-components-git-sync/python-processors
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  nodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      listenerClass: external-unstable
    podOverrides:
      spec:
        initContainers:
          - name: init-flow
            image: oci.stackable.tech/sdp/testing-tools:0.2.0-stackable0.0.0-dev
            command:
              - /bin/bash
              - -c
            args:
              - gzip --stdout /stackable/nifi/flow/flow.json > /stackable/data/database/flow.json.gz
            volumeMounts:
              - name: nifi-flow
                mountPath: /stackable/nifi/flow
              - name: database-repository
                mountPath: /stackable/data/database
        containers:
          - name: nifi
            ports:
              - name: greeting
                containerPort: 8090
                protocol: TCP
        volumes:
          - name: nifi-flow
            configMap:
{% if test_scenario['values']['nifi'].startswith("1.") %}
              name: nifi1-flow
{% else %}
              name: nifi2-flow
{% endif %}
    roleGroups:
      default:
        replicas: 2
---
apiVersion: v1
kind: Service
metadata:
  name: nifi-greeting
spec:
  selector:
    app.kubernetes.io/component: node
    app.kubernetes.io/instance: test-nifi
    app.kubernetes.io/name: nifi
    app.kubernetes.io/role-group: default
  ports:
    - name: greeting
      port: 80
      protocol: TCP
      targetPort: greeting
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nifi1-flow
data:
  flow.json: |
    {
      "encodingVersion": {
        "majorVersion": 2,
        "minorVersion": 0
      },
      "maxTimerDrivenThreadCount": 10,
      "maxEventDrivenThreadCount": 1,
      "registries": [],
      "parameterContexts": [],
      "parameterProviders": [],
      "controllerServices": [],
      "reportingTasks": [
        {
          "identifier": "fd3cf892-0196-1000-0000-000074a555a2",
          "instanceIdentifier": "fd3cf892-0196-1000-0000-000074a555a2",
          "name": "StackablePrometheusReportingTask",
          "type": "org.apache.nifi.reporting.prometheus.PrometheusReportingTask",
          "bundle": {
            "group": "org.apache.nifi",
            "artifact": "nifi-prometheus-nar",
            "version": "1.28.1"
          },
          "properties": {
            "prometheus-reporting-task-metrics-endpoint-port": "8081",
            "prometheus-reporting-task-metrics-strategy": "All Components",
            "prometheus-reporting-task-instance-id": "${hostname(true)}",
            "prometheus-reporting-task-client-auth": "No Authentication",
            "prometheus-reporting-task-metrics-send-jvm": "true"
          },
          "propertyDescriptors": {},
          "scheduledState": "RUNNING",
          "schedulingPeriod": "60 sec",
          "schedulingStrategy": "TIMER_DRIVEN",
          "componentType": "REPORTING_TASK"
        }
      ],
      "templates": [],
      "rootGroup": {
        "identifier": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9",
        "instanceIdentifier": "fd37b89e-0196-1000-9750-8b45eabee468",
        "name": "NiFi Flow",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 0.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "b34e789e-1a70-3275-b5c5-f5856b628166",
            "instanceIdentifier": "fd432952-0196-1000-0000-000048f10556",
            "name": "Greet",
            "comments": "",
            "position": {
              "x": 800.0,
              "y": 304.0
            },
            "type": "org.apache.nifi.processors.standard.ReplaceText",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.28.1"
            },
            "properties": {
              "Regular Expression": "(?s)(^.*$)",
              "Replacement Value": "Hello!",
              "Evaluation Mode": "Entire text",
              "Line-by-Line Evaluation Mode": "All",
              "Character Set": "UTF-8",
              "Maximum Buffer Size": "1 MB",
              "Replacement Strategy": "Always Replace"
            },
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure"
            ],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9"
          },
          {
            "identifier": "d15c871b-e9c5-38bd-903b-6bf3a9c55765",
            "instanceIdentifier": "fd45c24b-0196-1000-0000-00001a549d74",
            "name": "HandleHttpResponse",
            "comments": "",
            "position": {
              "x": 800.0,
              "y": 752.0
            },
            "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.28.1"
            },
            "properties": {
              "HTTP Context Map": "fd3b17c4-0196-1000-0000-000076ed786c",
              "HTTP Status Code": "200"
            },
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "success",
              "failure"
            ],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9"
          },
          {
            "identifier": "35d73904-95e1-3dae-81a7-56d0f907ad5c",
            "instanceIdentifier": "fd4557bd-0196-1000-ffff-ffffb0a46ce1",
            "name": "ShoutProcessor",
            "comments": "",
            "position": {
              "x": 800.0,
              "y": 528.0
            },
            "type": "tech.stackable.nifi.processors.sample.ShoutProcessor",
            "bundle": {
              "group": "tech.stackable.nifi",
              "artifact": "nifi-sample-nar",
              "version": "1.0.0"
            },
            "properties": {},
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9"
          },
          {
            "identifier": "c5fad835-91fd-31dc-afbf-c37209e03598",
            "instanceIdentifier": "fd3a912f-0196-1000-ffff-ffffacaca66e",
            "name": "HandleHttpRequest",
            "comments": "",
            "position": {
              "x": 800.0,
              "y": 80.0
            },
            "type": "org.apache.nifi.processors.standard.HandleHttpRequest",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.28.1"
            },
            "properties": {
              "multipart-request-max-size": "1 MB",
              "Allow POST": "false",
              "Default URL Character Set": "UTF-8",
              "Allow DELETE": "false",
              "Maximum Threads": "200",
              "HTTP Protocols": "HTTP_1_1",
              "container-queue-size": "50",
              "HTTP Context Map": "fd3b17c4-0196-1000-0000-000076ed786c",
              "multipart-read-buffer-size": "512 KB",
              "Allow OPTIONS": "false",
              "Allowed Paths": "/greeting",
              "Allow GET": "true",
              "Allow HEAD": "false",
              "Listening Port": "8090",
              "Client Authentication": "No Authentication",
              "Allow PUT": "false"
            },
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9"
          }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "3cb76499-9b4a-3199-9697-e05fdb86b38e",
            "instanceIdentifier": "fd4532b6-0196-1000-ffff-ffffcb96239f",
            "name": "",
            "source": {
              "id": "c5fad835-91fd-31dc-afbf-c37209e03598",
              "type": "PROCESSOR",
              "groupId": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9",
              "name": "HandleHttpRequest",
              "comments": "",
              "instanceIdentifier": "fd3a912f-0196-1000-ffff-ffffacaca66e"
            },
            "destination": {
              "id": "b34e789e-1a70-3275-b5c5-f5856b628166",
              "type": "PROCESSOR",
              "groupId": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9",
              "name": "Greet",
              "comments": "",
              "instanceIdentifier": "fd432952-0196-1000-0000-000048f10556"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9"
          },
          {
            "identifier": "895aecef-a30b-3ad5-993a-6df611e64e0d",
            "instanceIdentifier": "fd459382-0196-1000-0000-00000ad9142c",
            "name": "",
            "source": {
              "id": "b34e789e-1a70-3275-b5c5-f5856b628166",
              "type": "PROCESSOR",
              "groupId": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9",
              "name": "Greet",
              "comments": "",
              "instanceIdentifier": "fd432952-0196-1000-0000-000048f10556"
            },
            "destination": {
              "id": "35d73904-95e1-3dae-81a7-56d0f907ad5c",
              "type": "PROCESSOR",
              "groupId": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9",
              "name": "ShoutProcessor",
              "comments": "",
              "instanceIdentifier": "fd4557bd-0196-1000-ffff-ffffb0a46ce1"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9"
          },
          {
            "identifier": "47c43ae4-44e5-3e94-9185-bfae5fd6776e",
            "instanceIdentifier": "fd45f133-0196-1000-ffff-fffff094098e",
            "name": "",
            "source": {
              "id": "35d73904-95e1-3dae-81a7-56d0f907ad5c",
              "type": "PROCESSOR",
              "groupId": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9",
              "name": "ShoutProcessor",
              "comments": "",
              "instanceIdentifier": "fd4557bd-0196-1000-ffff-ffffb0a46ce1"
            },
            "destination": {
              "id": "d15c871b-e9c5-38bd-903b-6bf3a9c55765",
              "type": "PROCESSOR",
              "groupId": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9",
              "name": "HandleHttpResponse",
              "comments": "",
              "instanceIdentifier": "fd45c24b-0196-1000-0000-00001a549d74"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9"
          }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
          {
            "identifier": "0e58c44e-c294-3b7f-b323-bb94ca5074fb",
            "instanceIdentifier": "fd3b17c4-0196-1000-0000-000076ed786c",
            "name": "StandardHttpContextMap",
            "comments": "",
            "type": "org.apache.nifi.http.StandardHttpContextMap",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-http-context-map-nar",
              "version": "1.28.1"
            },
            "properties": {
              "Request Expiration": "1 min",
              "Maximum Outstanding Requests": "5000"
            },
            "propertyDescriptors": {},
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.http.HttpContextMap",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "1.28.1"
                }
              }
            ],
            "scheduledState": "ENABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "b4fe1571-02fd-3351-a2c0-e92f420b3ce9"
          }
        ],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
      }
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nifi2-flow
data:
  flow.json: |
    {
      "encodingVersion": {
        "majorVersion": 2,
        "minorVersion": 0
      },
      "maxTimerDrivenThreadCount": 10,
      "registries": [],
      "parameterContexts": [],
      "parameterProviders": [],
      "controllerServices": [],
      "reportingTasks": [],
      "flowAnalysisRules": [],
      "rootGroup": {
        "identifier": "a0cca604-51c7-32b2-9529-72ec3566e93c",
        "instanceIdentifier": "f7cda0ce-0196-1000-30b6-0f5577f07b63",
        "name": "NiFi Flow",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 0.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "238c6f6f-9e6b-3faf-bcdc-7058c9473c76",
            "instanceIdentifier": "f80dee83-0196-1000-0000-000051a29aa3",
            "name": "ShoutProcessor",
            "comments": "",
            "position": {
              "x": -112.0,
              "y": 96.0
            },
            "type": "tech.stackable.nifi.processors.sample.ShoutProcessor",
            "bundle": {
              "group": "tech.stackable.nifi",
              "artifact": "nifi-sample-nar",
              "version": "1.0.0"
            },
            "properties": {},
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          },
          {
            "identifier": "1975618d-36bc-32b4-9d14-06a14d4dcba0",
            "instanceIdentifier": "f80d8c53-0196-1000-ffff-ffffb40a54f8",
            "name": "Greet",
            "comments": "",
            "position": {
              "x": -112.0,
              "y": -128.0
            },
            "type": "Greet",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "python-extensions",
              "version": "1.0.0"
            },
            "properties": {},
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "original",
              "failure"
            ],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          },
          {
            "identifier": "0b7338da-d770-365b-bff5-bba3f0236229",
            "instanceIdentifier": "f80e3b3f-0196-1000-0000-00004590be6a",
            "name": "HandleHttpResponse",
            "comments": "",
            "position": {
              "x": -112.0,
              "y": 320.0
            },
            "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.2.0"
            },
            "properties": {
              "HTTP Context Map": "f80ef95f-0196-1000-ffff-ffffabf564cb",
              "HTTP Status Code": "200"
            },
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "success",
              "failure"
            ],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          },
          {
            "identifier": "522d46b7-8c43-35b7-ab91-2e5150e44e5b",
            "instanceIdentifier": "f809987c-0196-1000-ffff-fffff71b58df",
            "name": "HandleHttpRequest",
            "comments": "",
            "position": {
              "x": -112.0,
              "y": -352.0
            },
            "type": "org.apache.nifi.processors.standard.HandleHttpRequest",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.2.0"
            },
            "properties": {
              "multipart-request-max-size": "1 MB",
              "Allow POST": "false",
              "Default URL Character Set": "UTF-8",
              "Allow DELETE": "false",
              "Request Header Maximum Size": "8 KB",
              "Maximum Threads": "200",
              "HTTP Protocols": "HTTP_1_1",
              "container-queue-size": "50",
              "HTTP Context Map": "f80ef95f-0196-1000-ffff-ffffabf564cb",
              "multipart-read-buffer-size": "512 KB",
              "Allow OPTIONS": "false",
              "Allowed Paths": "/greeting",
              "Allow GET": "true",
              "Allow HEAD": "false",
              "Listening Port": "8090",
              "Client Authentication": "No Authentication",
              "Allow PUT": "false"
            },
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "5f7beeba-4cdc-3099-aef6-96ced3560ecc",
            "instanceIdentifier": "f80e0681-0196-1000-ffff-ffffc59964fa",
            "name": "",
            "source": {
              "id": "1975618d-36bc-32b4-9d14-06a14d4dcba0",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "Greet",
              "comments": "",
              "instanceIdentifier": "f80d8c53-0196-1000-ffff-ffffb40a54f8"
            },
            "destination": {
              "id": "238c6f6f-9e6b-3faf-bcdc-7058c9473c76",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "ShoutProcessor",
              "comments": "",
              "instanceIdentifier": "f80dee83-0196-1000-0000-000051a29aa3"
            },
            "labelIndex": 0,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          },
          {
            "identifier": "5165254a-e18c-3ccb-b8cb-25c55d7151a7",
            "instanceIdentifier": "f80e54a1-0196-1000-ffff-ffffa1c1bed7",
            "name": "",
            "source": {
              "id": "238c6f6f-9e6b-3faf-bcdc-7058c9473c76",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "ShoutProcessor",
              "comments": "",
              "instanceIdentifier": "f80dee83-0196-1000-0000-000051a29aa3"
            },
            "destination": {
              "id": "0b7338da-d770-365b-bff5-bba3f0236229",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "HandleHttpResponse",
              "comments": "",
              "instanceIdentifier": "f80e3b3f-0196-1000-0000-00004590be6a"
            },
            "labelIndex": 0,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          },
          {
            "identifier": "ad7fc77b-6b4b-3750-8e22-fcbb228a6fb4",
            "instanceIdentifier": "f80dbacc-0196-1000-0000-0000274b2561",
            "name": "",
            "source": {
              "id": "522d46b7-8c43-35b7-ab91-2e5150e44e5b",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "HandleHttpRequest",
              "comments": "",
              "instanceIdentifier": "f809987c-0196-1000-ffff-fffff71b58df"
            },
            "destination": {
              "id": "1975618d-36bc-32b4-9d14-06a14d4dcba0",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "Greet",
              "comments": "",
              "instanceIdentifier": "f80d8c53-0196-1000-ffff-ffffb40a54f8"
            },
            "labelIndex": 0,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
          {
            "identifier": "68712a48-5a26-3bee-8bfc-dafafda62660",
            "instanceIdentifier": "f80ef95f-0196-1000-ffff-ffffabf564cb",
            "name": "StandardHttpContextMap",
            "comments": "",
            "type": "org.apache.nifi.http.StandardHttpContextMap",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-http-context-map-nar",
              "version": "2.2.0"
            },
            "properties": {
              "Request Expiration": "1 min",
              "Maximum Outstanding Requests": "5000"
            },
            "propertyDescriptors": {},
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.http.HttpContextMap",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.2.0"
                }
              }
            ],
            "scheduledState": "ENABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
      }
    }
