---
apiVersion: authentication.stackable.tech/v1alpha1
kind: AuthenticationClass
metadata:
  name: nifi-users
spec:
  provider:
    static:
      userCredentialsSecret:
        name: nifi-user-credentials
---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-user-credentials
stringData:
  admin: admin
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
spec:
  image:
{% if test_scenario['values']['nifi-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['nifi-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['nifi-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['nifi-latest'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    listenerClass: external-unstable
    zookeeperConfigMapName: test-nifi-znode
    authentication:
      - authenticationClass: nifi-users
    sensitiveProperties:
      keySecret: nifi-sensitive-property-key
      autoGenerate: true
    customProcessorsGitSync:
      - repo: https://github.com/stackabletech/nifi-operator
        branch: feat/custom-processors # TODO Change to commit
        gitFolder: tests/templates/kuttl/custom-processors-git-sync/java-processors
      - repo: https://github.com/stackabletech/nifi-operator
        branch: feat/custom-processors # TODO Change to commit
        gitFolder: tests/templates/kuttl/custom-processors-git-sync/python-processors
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  nodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    podOverrides:
      spec:
        initContainers:
          - name: init-flow
            image: oci.stackable.tech/sdp/testing-tools:0.2.0-stackable0.0.0-dev
            command:
              - /bin/bash
              - -c
            args:
              - gzip --stdout /stackable/nifi/flow/flow.json > /stackable/data/database/flow.json.gz
            volumeMounts:
              - name: nifi-flow
                mountPath: /stackable/nifi/flow
              - name: database-repository
                mountPath: /stackable/data/database
        containers:
          - name: nifi
            ports:
              - name: greeting
                containerPort: 8090
                protocol: TCP
        volumes:
          - name: nifi-flow
            configMap:
              name: nifi-flow
    roleGroups:
      default:
        replicas: 2
---
apiVersion: v1
kind: Service
metadata:
  name: nifi-greeting
spec:
  selector:
    app.kubernetes.io/component: node
    app.kubernetes.io/instance: test-nifi
    app.kubernetes.io/name: nifi
    app.kubernetes.io/role-group: default
  ports:
    - name: greeting
      port: 80
      protocol: TCP
      targetPort: greeting
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nifi-flow
data:
  flow.json: |
    {
      "encodingVersion": {
        "majorVersion": 2,
        "minorVersion": 0
      },
      "maxTimerDrivenThreadCount": 10,
      "registries": [],
      "parameterContexts": [],
      "parameterProviders": [],
      "controllerServices": [],
      "reportingTasks": [],
      "flowAnalysisRules": [],
      "rootGroup": {
        "identifier": "a0cca604-51c7-32b2-9529-72ec3566e93c",
        "instanceIdentifier": "f7cda0ce-0196-1000-30b6-0f5577f07b63",
        "name": "NiFi Flow",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 0.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "238c6f6f-9e6b-3faf-bcdc-7058c9473c76",
            "instanceIdentifier": "f80dee83-0196-1000-0000-000051a29aa3",
            "name": "ShoutProcessor",
            "comments": "",
            "position": {
              "x": -112.0,
              "y": 96.0
            },
            "type": "tech.stackable.nifi.processors.sample.ShoutProcessor",
            "bundle": {
              "group": "tech.stackable.nifi",
              "artifact": "nifi-sample-nar",
              "version": "1.0.0"
            },
            "properties": {},
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          },
          {
            "identifier": "1975618d-36bc-32b4-9d14-06a14d4dcba0",
            "instanceIdentifier": "f80d8c53-0196-1000-ffff-ffffb40a54f8",
            "name": "Greet",
            "comments": "",
            "position": {
              "x": -112.0,
              "y": -128.0
            },
            "type": "Greet",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "python-extensions",
              "version": "1.0.0"
            },
            "properties": {},
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "original",
              "failure"
            ],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          },
          {
            "identifier": "0b7338da-d770-365b-bff5-bba3f0236229",
            "instanceIdentifier": "f80e3b3f-0196-1000-0000-00004590be6a",
            "name": "HandleHttpResponse",
            "comments": "",
            "position": {
              "x": -112.0,
              "y": 320.0
            },
            "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.2.0"
            },
            "properties": {
              "HTTP Context Map": "f80ef95f-0196-1000-ffff-ffffabf564cb",
              "HTTP Status Code": "200"
            },
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "success",
              "failure"
            ],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          },
          {
            "identifier": "522d46b7-8c43-35b7-ab91-2e5150e44e5b",
            "instanceIdentifier": "f809987c-0196-1000-ffff-fffff71b58df",
            "name": "HandleHttpRequest",
            "comments": "",
            "position": {
              "x": -112.0,
              "y": -352.0
            },
            "type": "org.apache.nifi.processors.standard.HandleHttpRequest",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.2.0"
            },
            "properties": {
              "multipart-request-max-size": "1 MB",
              "Allow POST": "false",
              "Default URL Character Set": "UTF-8",
              "Allow DELETE": "false",
              "Request Header Maximum Size": "8 KB",
              "Maximum Threads": "200",
              "HTTP Protocols": "HTTP_1_1",
              "container-queue-size": "50",
              "HTTP Context Map": "f80ef95f-0196-1000-ffff-ffffabf564cb",
              "multipart-read-buffer-size": "512 KB",
              "Allow OPTIONS": "false",
              "Allowed Paths": "/greeting",
              "Allow GET": "true",
              "Allow HEAD": "false",
              "Listening Port": "8090",
              "Client Authentication": "No Authentication",
              "Allow PUT": "false"
            },
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "5f7beeba-4cdc-3099-aef6-96ced3560ecc",
            "instanceIdentifier": "f80e0681-0196-1000-ffff-ffffc59964fa",
            "name": "",
            "source": {
              "id": "1975618d-36bc-32b4-9d14-06a14d4dcba0",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "Greet",
              "comments": "",
              "instanceIdentifier": "f80d8c53-0196-1000-ffff-ffffb40a54f8"
            },
            "destination": {
              "id": "238c6f6f-9e6b-3faf-bcdc-7058c9473c76",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "ShoutProcessor",
              "comments": "",
              "instanceIdentifier": "f80dee83-0196-1000-0000-000051a29aa3"
            },
            "labelIndex": 0,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          },
          {
            "identifier": "5165254a-e18c-3ccb-b8cb-25c55d7151a7",
            "instanceIdentifier": "f80e54a1-0196-1000-ffff-ffffa1c1bed7",
            "name": "",
            "source": {
              "id": "238c6f6f-9e6b-3faf-bcdc-7058c9473c76",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "ShoutProcessor",
              "comments": "",
              "instanceIdentifier": "f80dee83-0196-1000-0000-000051a29aa3"
            },
            "destination": {
              "id": "0b7338da-d770-365b-bff5-bba3f0236229",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "HandleHttpResponse",
              "comments": "",
              "instanceIdentifier": "f80e3b3f-0196-1000-0000-00004590be6a"
            },
            "labelIndex": 0,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          },
          {
            "identifier": "ad7fc77b-6b4b-3750-8e22-fcbb228a6fb4",
            "instanceIdentifier": "f80dbacc-0196-1000-0000-0000274b2561",
            "name": "",
            "source": {
              "id": "522d46b7-8c43-35b7-ab91-2e5150e44e5b",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "HandleHttpRequest",
              "comments": "",
              "instanceIdentifier": "f809987c-0196-1000-ffff-fffff71b58df"
            },
            "destination": {
              "id": "1975618d-36bc-32b4-9d14-06a14d4dcba0",
              "type": "PROCESSOR",
              "groupId": "a0cca604-51c7-32b2-9529-72ec3566e93c",
              "name": "Greet",
              "comments": "",
              "instanceIdentifier": "f80d8c53-0196-1000-ffff-ffffb40a54f8"
            },
            "labelIndex": 0,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
          {
            "identifier": "68712a48-5a26-3bee-8bfc-dafafda62660",
            "instanceIdentifier": "f80ef95f-0196-1000-ffff-ffffabf564cb",
            "name": "StandardHttpContextMap",
            "comments": "",
            "type": "org.apache.nifi.http.StandardHttpContextMap",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-http-context-map-nar",
              "version": "2.2.0"
            },
            "properties": {
              "Request Expiration": "1 min",
              "Maximum Outstanding Requests": "5000"
            },
            "propertyDescriptors": {},
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.http.HttpContextMap",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.2.0"
                }
              }
            ],
            "scheduledState": "ENABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "a0cca604-51c7-32b2-9529-72ec3566e93c"
          }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
      }
    }
