---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-sensitive-property-key
stringData:
  nifiSensitivePropsKey: mYsUp3rS3cr3tk3y
---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-with-ldap-bind-secret
  labels:
    secrets.stackable.tech/class: nifi-with-ldap-bind
stringData:
  user: cn=integrationtest,ou=my users,dc=example,dc=org
  password: >
    bindPasswordWithSpecialCharacter\@<&>"'
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
spec:
  image:
{% if test_scenario['values']['nifi'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['nifi'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['nifi'].split(',')[0] }}"
{% else %}
    custom: null
    productVersion: "{{ test_scenario['values']['nifi'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    authentication:
{% if test_scenario['values']['ldap-use-tls'] == 'false' %}
      - authenticationClass: ldap-without-tls
{% else  %}
      - authenticationClass: ldap-with-tls
{% endif %}
    authorization:
      standard:
        accessPolicyProvider:
          fileBased:
            initialAdminUser: "cn=integrationtest,ou=my users,dc=example,dc=org"
    sensitiveProperties:
      keySecret: nifi-sensitive-property-key
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
    zookeeperConfigMapName: nifi-with-ldap-znode
  nodes:
    config:
      gracefulShutdownTimeout: 1m
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleConfig:
      listenerClass: external-unstable
    roleGroups:
      default:
        config: {}
        replicas: 2
