---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-admin-credentials-simple
stringData:
  username: admin
  password: supersecretpassword
---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-sensitive-property-key
stringData:
  nifiSensitivePropsKey: mYsUp3rS3cr3tk3y
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
spec:
  image:
    productVersion: "{{ test_scenario['values']['nifi'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['nifi'].split('-stackable')[1] }}"
  zookeeperConfigMapName: test-nifi-znode
  config:
    authentication:
      method:
        singleUser:
          adminCredentialsSecret: nifi-admin-credentials-simple
    sensitiveProperties:
      keySecret: nifi-sensitive-property-key
  nodes:
    roleGroups:
      default:
        config:
          log:
            rootLogLevel: INFO
        replicas: 2
      throwaway:
        config:
          log:
            rootLogLevel: INFO
        replicas: 1
