---
{% if test_scenario['values']['iceberg-use-kerberos'] == 'true' %}
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  # We need to replace $NAMESPACE (by KUTTL)
  - script: envsubst '$NAMESPACE' < 03_kerberos-secretclass.yaml | kubectl apply -n $NAMESPACE -f -
{% endif %}
