---
apiVersion: batch/v1
kind: Job
metadata:
  name: check-lakehouse-tables
spec:
  template:
    spec:
      containers:
        - name: check-lakehouse-tables
          image: "oci.stackable.tech/sdp/trino-cli:{{ test_scenario['values']['trino-l'] }}-stackable0.0.0-dev"
          command:
            - bash
            - -euo
            - pipefail
            - -c
            - |
              for SCHEMA in lakehouse.test; do
                COUNT=$(cat << EOF | ./trino-cli --server https://trino-coordinator:8443 --insecure --user admin
                SELECT COUNT(*) FROM $SCHEMA.greetings WHERE hello = 'world from NiFi :)';
              EOF
                )

                COUNT="${COUNT%\"}" # Remove trailing quote if any
                COUNT="${COUNT#\"}" # Remove leading quote if any
                echo "Count is $COUNT"

                # Check if it's a number greater than 0
                if ! [[ "$COUNT" =~ ^[0-9]+$ ]] || [ "$COUNT" -le 0 ]; then
                  echo "Invalid or zero count: $COUNT"
                  exit 1
                fi

                echo "Count $COUNT was valid"
              done
      restartPolicy: OnFailure
