---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
metadata:
  name: scale-up-nifi
timeout: 1200
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-nifi-node-default
status:
  readyReplicas: 2
  replicas: 2
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
status:
  deployed_version: {{ test_scenario['values']['nifi_new'].split("-")[0]  }}