---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 1200
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-nifi-node-default
status:
  readyReplicas: 3
  replicas: 3
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
status:
{% if test_scenario['values']['nifi_new'].find(",") > 0 %}
  deployed_version: "{{ test_scenario['values']['nifi_new'].split(',')[0] }}"
{% else %}
  deployed_version: {{ test_scenario['values']['nifi_new'] }}
{% endif %}
