---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
spec:
  image:
{% if test_scenario['values']['nifi_new'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['nifi_new'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['nifi_new'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['nifi_new'] }}"
{% endif %}
