---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: python
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: python
{% if test_scenario['values']['openshift'] == 'true' %}
rules:
- apiGroups: ["security.openshift.io"]
  resources: ["securitycontextconstraints"]
  resourceNames: ["privileged"]
  verbs: ["use"]
{% endif %}
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: python
subjects:
  - kind: ServiceAccount
    name: python
roleRef:
  kind: Role
  name: python
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-test-container
timeout: 300
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: python
  labels:
    app: python
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      serviceAccountName: python
      securityContext:
        fsGroup: 1000
      containers:
        - name: oidc-login-test
          image: oci.stackable.tech/sdp/testing-tools:0.2.0-stackable0.0.0-dev
          stdin: true
          tty: true
          resources:
            requests:
              memory: "128Mi"
              cpu: "512m"
            limits:
              memory: "128Mi"
              cpu: "1"
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NIFI_VERSION
              value: "{{ test_scenario['values']['nifi'] }}"
            - name: OIDC_USE_TLS
              value: "{{ test_scenario['values']['oidc-use-tls'] }}"
          volumeMounts:
            - name: test-script
              mountPath: /tmp/test-script
      terminationGracePeriodSeconds: 1
      volumes:
        - name: test-script
          configMap:
            name: test-script
      terminationGracePeriodSeconds: 1
