---
apiVersion: authentication.stackable.tech/v1alpha1
kind: AuthenticationClass
metadata:
  name: nifi-users
spec:
  provider:
    static:
      userCredentialsSecret:
        name: nifi-user-credentials
---
apiVersion: v1
kind: Secret
metadata:
  name: nifi-user-credentials
stringData:
  admin: admin
---
apiVersion: nifi.stackable.tech/v1alpha1
kind: NifiCluster
metadata:
  name: test-nifi
spec:
  image:
{% if test_scenario['values']['nifi-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['nifi-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['nifi-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['nifi-latest'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    listenerClass: external-unstable
    zookeeperConfigMapName: test-nifi-znode
    authentication:
      - authenticationClass: nifi-users
    sensitiveProperties:
      keySecret: nifi-sensitive-property-key
      autoGenerate: true
    customProcessorsGitSync:
      - repo: https://github.com/stackabletech/nifi-operator
        branch: feat/custom-processors # TODO Change to commit
        gitFolder: tests/templates/kuttl/custom-processors-git-sync/processors-0
      - repo: https://github.com/stackabletech/nifi-operator
        branch: feat/custom-processors # TODO Change to commit
        gitFolder: tests/templates/kuttl/custom-processors-git-sync/processors-1
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  nodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    podOverrides:
      spec:
        initContainers:
          - name: init-flow
            image: oci.stackable.tech/sdp/testing-tools:0.2.0-stackable0.0.0-dev
            command:
              - /bin/bash
              - -c
            args:
              - gzip --stdout /stackable/nifi/flow/flow.json > /stackable/data/database/flow.json.gz
            volumeMounts:
              - name: nifi-flow
                mountPath: /stackable/nifi/flow
              - name: database-repository
                mountPath: /stackable/data/database
        containers:
          - name: nifi
            ports:
              - name: greeting
                containerPort: 8090
                protocol: TCP
        volumes:
          - name: nifi-flow
            configMap:
              name: nifi-flow
    roleGroups:
      default:
        replicas: 2
---
apiVersion: v1
kind: Service
metadata:
  name: nifi-greeting
spec:
  selector:
    app.kubernetes.io/component: node
    app.kubernetes.io/instance: test-nifi
    app.kubernetes.io/name: nifi
    app.kubernetes.io/role-group: default
  ports:
    - name: greeting
      port: 80
      protocol: TCP
      targetPort: greeting
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nifi-flow
data:
  flow.json: |
    {
      "encodingVersion": {
        "majorVersion": 2,
        "minorVersion": 0
      },
      "maxTimerDrivenThreadCount": 10,
      "registries": [],
      "parameterContexts": [],
      "parameterProviders": [],
      "controllerServices": [],
      "reportingTasks": [],
      "flowAnalysisRules": [],
      "rootGroup": {
        "identifier": "a0c74b17-4386-3e84-8de4-6cefe4328565",
        "instanceIdentifier": "243351c2-0196-1000-9730-38306d34ae6d",
        "name": "NiFi Flow",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 0.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "a36b7e9b-c90a-3fad-9a53-53450ff2efd7",
            "instanceIdentifier": "25736232-0196-1000-0000-00003edfe17e",
            "name": "HandleHttpResponse",
            "comments": "",
            "position": {
              "x": -248.0,
              "y": -24.0
            },
            "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.2.0"
            },
            "properties": {
              "HTTP Context Map": "2572dfc2-0196-1000-ffff-ffffb3493dd1",
              "HTTP Status Code": "200"
            },
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "success",
              "failure"
            ],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0c74b17-4386-3e84-8de4-6cefe4328565"
          },
          {
            "identifier": "c331dc17-5ded-398b-bce0-2a96fa6d8005",
            "instanceIdentifier": "257286eb-0196-1000-ffff-ffffcfa02e60",
            "name": "HandleHttpRequest",
            "comments": "",
            "position": {
              "x": -248.0,
              "y": -664.0
            },
            "type": "org.apache.nifi.processors.standard.HandleHttpRequest",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "2.2.0"
            },
            "properties": {
              "multipart-request-max-size": "1 MB",
              "Allow POST": "false",
              "Default URL Character Set": "UTF-8",
              "Allow DELETE": "false",
              "Request Header Maximum Size": "8 KB",
              "Maximum Threads": "200",
              "HTTP Protocols": "HTTP_1_1",
              "container-queue-size": "50",
              "HTTP Context Map": "2572dfc2-0196-1000-ffff-ffffb3493dd1",
              "multipart-read-buffer-size": "512 KB",
              "Allow OPTIONS": "false",
              "Allowed Paths": "/greeting",
              "Allow GET": "true",
              "Allow HEAD": "false",
              "Listening Port": "8090",
              "Client Authentication": "No Authentication",
              "Allow PUT": "false"
            },
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0c74b17-4386-3e84-8de4-6cefe4328565"
          },
          {
            "identifier": "aa2534ff-9199-3e7e-9e38-9a974864599f",
            "instanceIdentifier": "25731de4-0196-1000-ffff-ffffdac9784b",
            "name": "Shout",
            "comments": "",
            "position": {
              "x": -248.0,
              "y": -240.0
            },
            "type": "Shout",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "python-extensions",
              "version": "1.0.0"
            },
            "properties": {},
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "original",
              "failure"
            ],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0c74b17-4386-3e84-8de4-6cefe4328565"
          },
          {
            "identifier": "d897a9e1-fb76-3cfe-93af-9cb7fa07a307",
            "instanceIdentifier": "25723295-0196-1000-0000-0000467c4e68",
            "name": "Greet",
            "comments": "",
            "position": {
              "x": -248.0,
              "y": -448.0
            },
            "type": "Greet",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "python-extensions",
              "version": "1.0.0"
            },
            "properties": {},
            "propertyDescriptors": {},
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "original",
              "failure"
            ],
            "scheduledState": "RUNNING",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "a0c74b17-4386-3e84-8de4-6cefe4328565"
          }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "0cc1ce67-1998-3338-8777-7b2b4dbc37f8",
            "instanceIdentifier": "25729ba3-0196-1000-0000-0000198b702d",
            "name": "",
            "source": {
              "id": "c331dc17-5ded-398b-bce0-2a96fa6d8005",
              "type": "PROCESSOR",
              "groupId": "a0c74b17-4386-3e84-8de4-6cefe4328565",
              "name": "HandleHttpRequest",
              "comments": "",
              "instanceIdentifier": "257286eb-0196-1000-ffff-ffffcfa02e60"
            },
            "destination": {
              "id": "d897a9e1-fb76-3cfe-93af-9cb7fa07a307",
              "type": "PROCESSOR",
              "groupId": "a0c74b17-4386-3e84-8de4-6cefe4328565",
              "name": "Greet",
              "comments": "",
              "instanceIdentifier": "25723295-0196-1000-0000-0000467c4e68"
            },
            "labelIndex": 0,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "a0c74b17-4386-3e84-8de4-6cefe4328565"
          },
          {
            "identifier": "daccc7eb-0ed3-3bc8-89a9-942a6f21608e",
            "instanceIdentifier": "2573957c-0196-1000-ffff-ffffaad0c8c0",
            "name": "",
            "source": {
              "id": "aa2534ff-9199-3e7e-9e38-9a974864599f",
              "type": "PROCESSOR",
              "groupId": "a0c74b17-4386-3e84-8de4-6cefe4328565",
              "name": "Shout",
              "comments": "",
              "instanceIdentifier": "25731de4-0196-1000-ffff-ffffdac9784b"
            },
            "destination": {
              "id": "a36b7e9b-c90a-3fad-9a53-53450ff2efd7",
              "type": "PROCESSOR",
              "groupId": "a0c74b17-4386-3e84-8de4-6cefe4328565",
              "name": "HandleHttpResponse",
              "comments": "",
              "instanceIdentifier": "25736232-0196-1000-0000-00003edfe17e"
            },
            "labelIndex": 0,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "a0c74b17-4386-3e84-8de4-6cefe4328565"
          },
          {
            "identifier": "3f4602ba-25b1-37d3-b377-d734750e49ca",
            "instanceIdentifier": "25733c86-0196-1000-0000-0000142bd2e3",
            "name": "",
            "source": {
              "id": "d897a9e1-fb76-3cfe-93af-9cb7fa07a307",
              "type": "PROCESSOR",
              "groupId": "a0c74b17-4386-3e84-8de4-6cefe4328565",
              "name": "Greet",
              "comments": "",
              "instanceIdentifier": "25723295-0196-1000-0000-0000467c4e68"
            },
            "destination": {
              "id": "aa2534ff-9199-3e7e-9e38-9a974864599f",
              "type": "PROCESSOR",
              "groupId": "a0c74b17-4386-3e84-8de4-6cefe4328565",
              "name": "Shout",
              "comments": "",
              "instanceIdentifier": "25731de4-0196-1000-ffff-ffffdac9784b"
            },
            "labelIndex": 0,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "a0c74b17-4386-3e84-8de4-6cefe4328565"
          }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
          {
            "identifier": "1989ed4e-5edf-3df1-a1a1-6ed4a5c49d7f",
            "instanceIdentifier": "2572dfc2-0196-1000-ffff-ffffb3493dd1",
            "name": "StandardHttpContextMap",
            "comments": "",
            "type": "org.apache.nifi.http.StandardHttpContextMap",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-http-context-map-nar",
              "version": "2.2.0"
            },
            "properties": {
              "Request Expiration": "1 min",
              "Maximum Outstanding Requests": "5000"
            },
            "propertyDescriptors": {},
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.http.HttpContextMap",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "2.2.0"
                }
              }
            ],
            "scheduledState": "ENABLED",
            "bulletinLevel": "WARN",
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "a0c74b17-4386-3e84-8de4-6cefe4328565"
          }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
      }
    }
